[Unit]
Description=Grafana
After=network.target
    
[Service]
Type=simple
WorkingDirectory=/usr/local/grafana
ExecStart=/usr/local/grafana/bin/grafana server \
  --config=/usr/local/grafana/conf/defaults.ini \
  --homepath=/usr/local/grafana
Restart=always
    
[Install]
WantedBy=multi-user.target
